.dashboardContainer {
  width: 100%;
  display: flex;
  position: relative;
}

.dashboard {
  width: calc(100vw - 256px);
  min-height: 100vh;
  /* background-color: aqua; */
  padding: 20px 20px 50px 20px;
}

.sideContainer {
  width: 256px;
}