.side {
  width: 256px;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  padding-top: 50px;
}

.sideHeader {
  width: 100%;
  height: 48px;
  display: grid;
  place-items: center;
  margin-bottom: 48px;
}

.sideLogo {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.sideMenuWrapper {
  width: 256px;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.sideMenu .sideMenuItem {
  width: 256px;
  height: 48px;
  list-style: none;
  padding: 0 16px;
}

.sideMenu .sideMenuItem .sideLink {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: .2px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0 12px;
  text-decoration: none;
  cursor: pointer;
}

.sideMenu .sideMenuItem .sideLink:hover {
  opacity: .5;
}

.sideLogoutWrapper {
  width: 256px;
  height: 48px;
  list-style: none;
  padding: 0 16px;
}

.sideLogoutButton {
  color: #ffffff;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sideLogoutButton:hover {
  opacity: .5;
}

.sideIcon {
  width: 20px;
  height: 20px;
}

.sideBurgerClose {
  /* visibility: hidden; */
  color: #ffffff;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.privnav {
  display: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.privnavMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.privnavMenu .privnavLink {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: .2px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0 12px;
  text-decoration: none;
  cursor: pointer;
}

/* .sideMenu .sideMenuItem .sideLink:hover {
  opacity: .5;
} */

@media screen and (max-width: 1024px) {

  .sideHeader {
    display: none;
  }

  .sideMenuWrapper {
    display: none;
  }

  .side {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: #060916;
    padding: 0;
  }

  .privnav {
    display: flex;
  }

  .privnavMenu {
    width: 50%;
  }

}